### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
.env
.claude
/.idea/

# Docker
.dockerignore
.docker-compose.yml
/detections/
/meteor_detections/
/.claude/

# User-specific configuration
streamers
