### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.env
.claude

# Docker
.dockerignore
.docker-compose.yml
/detections/
/meteor_detections/
/.claude/
