api:
  origin: "*"

webrtc:
  candidates:
    - 192.168.0.10:8555
  # STUN由来の srflx candidate が追加で返ることがありますが、
  # host candidate が同時に返っていれば通常は問題ありません。

streams:
  camera1:
    - rtsp://username:password@192.168.0.11/live
  camera2:
    - rtsp://username:password@192.168.0.12/live
  camera3:
    - rtsp://username:password@192.168.0.13/live
